name: Publish Package

on:
  release:
    types: [published]

jobs:
  publish:
    defaults:
      run:
        working-directory: ./package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
          cache-dependency-path: "**/pnpm-lock.yaml"
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install
      - run: cp ../README.md ../LICENSE ./
      - run: sed -i "s/0.0.0-placeholder/$GITHUB_REF_NAME/" package.json
      - if: ${{ github.event.release.prerelease == true }}
        run: echo "TAG=canary" >> "$GITHUB_ENV"
      - if: ${{ github.event.release.prerelease == false }}
        run: echo "TAG=latest" >> "$GITHUB_ENV"
      - run: pnpm publish --no-git-checks --access public --tag $TAG
